/* Mejorar el contraste del menú y títulos en modo oscuro */
.dark #site-header a,
.dark nav a,
.dark .text-neutral-900,
.dark .text-neutral-800,
.dark .text-neutral-700 {
  color: #e5e7eb !important;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #38761d !important;
}

.dark .text-neutral-500,
.dark .text-neutral-600 {
  color: #9ca3af !important;
}

h1 {
  font-size: 1rem !important;
}

/* Fondo oscuro para la barra de navegación */
#site-header,
header {
  background-color: #e5e7eb !important; /* Azul oscuro, como en la imagen #1e293b */
  padding: 0.5rem 1rem !important;
}

/* Color del texto del menú y del título sobre el fondo oscuro */
#site-header a,
header a,
#site-header .text-neutral-500,
#site-header .text-neutral-700 {
  color: #333333 !important; /* Texto blanco para que contraste #ffffff */
}

/* Efecto al pasar el ratón por encima de los enlaces */
#site-header a:hover {
  color: #93c5fd !important; /* Azul claro al pasar el ratón */
}

/*desde aca valorar*/

/* Mejorar el contraste en modo oscuro */
.dark #site-header a,
.dark nav a {
  color: #374151 !important;/* Mejorar el contraste en modo oscuro #e5e7eb */
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #4b5563 !important;/* transparencia  donde esta los titulos de articulos Mejorar el contraste en modo oscuro  #38761d */
}

.dark .text-neutral-500,
.dark .text-neutral-600 {
  color: #9ca3af !important;
}

/* Ocultar el título del perfil SOLO en la página de inicio */
article > header > h1 {
  display: inline !important;
}
